<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="fragments/head :: head"></th:block>
	<meta charset="UTF-8">
	<title>비밀번호 재설정</title>
	<link href="/css/auth/passwordReset.css" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<div class="main">
			<div class="container">
				<h2 class="fw-bold text-center mb-5" id="title">비밀번호 재설정</h2>
				<div class="row justify-content-center">
					<div class="col-12 col-md-8 col-lg-6" id="resetContainer">
						<div class="d-grid gap-5">
							<div class="d-flex flex-column gap-4">
								<div>
									<label for="newPassword" class="form-label fw-semibold">새 비밀번호</label>
									<input type="password" id="newPassword" class="form-control form-control-lg"
										placeholder="변경할 비밀번호를 입력하세요" />
									<div id="isInvalidPw" class="mt-1 small text-danger"></div>
								</div>
								<div>
									<label for="newPasswordConfirm" class="form-label fw-semibold">새 비밀번호 확인</label>
									<input type="password" id="newPasswordConfirm" class="form-control form-control-lg"
										placeholder="변경할 비밀번호를 다시 입력해주세요" />
									<div id="isPasswordMismatch" class="mt-1 small text-danger"></div>
								</div>
							</div>
							<button type="button" class="btn btn-dark btn-lg py-3">확인</button>
						</div>
					</div>
				</div>
			</div>
			<script type="module" src="/js/auth/passwordReset.js"></script>
		</div>
	</div>
</body>

</html>