<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>아이디 찾기</title>
	<link rel="stylesheet" href="/css/auth/account-recovery.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<script defer src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>

<body>
	<div class="container">
		<div class="account-recovery-header">
			<h3 class="text-center mb-4">아이디 찾기</h3>
			<hr>
		</div>
		<div class="recoveryBox">
			<div class="recovery-method">
				<p class="sub-title">아이디를 찾기 위한 정보를 입력해주세요.</p>
				<div class="d-flex flex-column mt-5 panel-id">
					<div class="field gap-4">
						<div class="field_label">이름</div>
						<div class="field_control">
							<input type="text" name="name" class="form-control field_input" placeholder="이름 입력">
						</div>
					</div>
					<div class="field gap-4">
						<div class="field_label">이메일</div>
						<div class="field_control">
							<input type="text" name="email" class="form-control field_input" placeholder="이메일 입력">
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<button type="button" class="recovery_submit" data-action="find-password">찾기</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>