<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>가입완료</title>
	<link rel="stylesheet" href="/css/auth/succmembership.css">
</head>

<body>
	<div class="container">
		<div class="inner">
			<h1><a href="/" class="title">SeoDun</a></h1>
			<h1 class="message">회원가입이 완료되었습니다 !</h1>
			<div class="introduce">
				<p class="welcome-message">SeoDun에 오신 걸 환영합니다! 이제 당신의 이야기를 들려주세요 😊</p>
			</div>
			<div class="buttons">
				<a href="/" class="move">메인으로</a>
				<a href="/login" class="move">로그인</a>
			</div>
		</div>
	</div>
</body>

</html>