<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="fragments/head :: head"></th:block>
	<meta charset="UTF-8">
	<title>상세보기</title>
	<link href="/css/sidebar.css" rel="stylesheet">
	<link href="/css/topbar.css" rel="stylesheet">
	<link href="/css/board/detail.css" rel="stylesheet">
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
</head>

<body>
	<div class="wrapper">
		<!-- 사이드바 -->
		<div th:replace="fragments/sidebar :: left_bar"></div>
		<div class="main">
			<!-- 상단바 -->
			<div th:replace="fragments/navbar :: top_bar"></div>
			<div class="container">
				<div class="page-heading">
					<div class="page-title">
						<div class="row">
							<div class="col-12 col-md-6 order-md-1 order-last">
								<a href="#" class="text-decoration-none">
									<h3 id="category-title"></h3>
								</a>
							</div>
						</div>
						<section class="section">
							<div class="card">
								<div class="card-body">
									<div
										class="content-top d-flex justify-content-between align-items-center border-bottom">
										<div class="d-flex align-items-center content-title">

										</div>

										<div class="content-info">
											<ul class="list-inline mb-0 content-meta">

											</ul>
										</div>
									</div>
									<div class="content-main">

									</div>
									<div class="edit-menu mt-4">
										<button type="button" class="btn btn-outline-secondary"
											id="btn-back-to-detail">목록</button>
										<button type="button" class="btn btn-outline-secondary"
											id="btn-save-edit">수정</button>
									</div>
									<div class="reply-box">
										<div
											class="content-menubar d-flex justify-content-between align-items-center mt-4 mb-4">
											<div class="reply-button">
												<button type="button" class="btn btn-outline-secondary"
													id="reply">댓글</button>
											</div>
											<div class="action-buttons d-flex gap-2">
												<button type="button" class="btn btn-outline-secondary"
													id="btn-list">목록</button>
												<div class="d-flex gap-2" id="owner-action-box">
													<button type="button" class="btn btn-outline-secondary"
														id="btn-edit">수정</button>
													<button type="button" class="btn btn-outline-secondary"
														id="btn-delete">삭제</button>
												</div>
											</div>
										</div>
										<div class="card mb-4">
											<div class="card-body comment-form">
												<h5 class="card-title">댓글</h5>

												<div class="mb-3 input-reply">
													<label class="form-label mb-2 text-muted ms-cus">
														<strong id="reply-writer"></strong></label>
													<textarea class="form-control" id="reply-content" rows="3"
														placeholder="댓글을 입력하세요..."></textarea>
												</div>

												<div class="d-flex justify-content-end">
													<button type="button" class="btn btn-outline-secondary"
														id="registerBtn">등록</button>
												</div>
											</div>
										</div>
										<div class="d-flex gap-2 my-2 ms-3 pb-2 bb-right">
											<button type="button" class="btn btn-outline-secondary btn-sm border-0"
												id="sort-latest">
												최신순
											</button>
											<button type="button" class="btn btn-outline-secondary btn-sm border-0"
												id="sort-oldest">
												등록순
											</button>
										</div>
										<div class="comment-list">

										</div>
										<div class="Pagination_div">
											<ul class="pagination justify-content-center" id="pagination">
												<!-- 페이지 버튼들이 JS로 동적으로 들어감 -->
											</ul>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			<!-- 푸터 -->
			<div th:replace="fragments/footer :: footer"></div>
			<script type="module" src="/js/common.js"></script>
			<script type="module" src="/js/board/detail.js"></script>
		</div>
	</div>
</body>

</html>