<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:insert="fragments/head :: head"></th:block>
	<meta charset="UTF-8">
	<title>회원정보</title>
	<link href="/css/sidebar.css" rel="stylesheet">
	<link href="/css/topbar.css" rel="stylesheet">
	<link href="/css/user/edit.css" rel="stylesheet">
	<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
	<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
</head>

<body>
	<div class="wrapper">
		<!-- 사이드바 -->
		<div th:replace="fragments/sidebar :: left_bar"></div>
		<div class="main">
			<!-- 상단바 -->
			<div th:replace="fragments/navbar :: top_bar"></div>
			<div class="container">
				<!-- 제목 -->
				<h2 class="fw-bold text-center mb-5">닉네임 변경하기</h2>

				<!-- 폼 카드 없이 깔끔 버전 -->
				<div class="row justify-content-center">
					<div class="col-12 col-md-8 col-lg-6">
						<div class="d-grid gap-5">
							<div>
								<label for="filed" class="form-label fw-semibold">닉네임</label>
								<input type="text" id="filed" class="form-control form-control-lg"
									placeholder="닉네임을 입력하세요" />
							</div>
							<button type="button" class="btn btn-dark btn-lg py-3">확인</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 푸터 -->
			<div th:replace="fragments/footer :: footer"></div>
			<script type="module" src="/js/common.js"></script>
			<!--			<script type="module" src="/js/user/detail.js"></script>-->
		</div>
	</div>
</body>

</html>