<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>가입완료</title>
	<link rel="stylesheet" href="/css/auth/succmembership.css">
</head>

<body>
	<div class="container">
		<div class="inner">
			<h1><a href="/" class="title">SeoDun</a></h1>
			<h1 class="message">그동안 이용해주셔서 감사합니다.</h1>
			<div class="introduce">
				<p class="welcome-message">다음에 다시 찾아와주세요.</p>
			</div>
			<div class="buttons">
				<a href="/" class="move">메인으로</a>
			</div>
		</div>
	</div>
</body>

</html>