<div class="topbar" th:fragment="top_bar">
	<div class="menu-toggle mg-right">
		<button class="menu-toggle" id="menuToggle">
			<i class="fas fa-bars mg-0"></i>
		</button>
	</div>
	<div class="search-box">
		<input type="text" id="topSearchInput" placeholder="검색어를 입력하세요.">
		<a href="#" class="text-decoration-none text-dark" id="searchBtn"><i class="fas fa-search"></i></a>
	</div>
	<div class="icon-group">
		<i class="far fa-envelope"></i>
		<i class="far fa-bell"></i>
		<i class="far fa-user-circle"></i>
	</div>
</div>