<div class="col-md-2 sidebar" id="sidebar" th:fragment="left_bar">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<a href="/" class="text-decoration-none">
			<h1>SeoDun</h1>
		</a>
	</div>

	<div class="myinfo">
		<div class="login-info text-center mb-4" id="loginMenu">
			<div>
				<a href="/login" class="text-decoration-none text-dark">로그인</a>
			</div>
		</div>
		<div class="user-info text-center mb-4" id="userInfo">
			<a href="#" class="text-decoration-none" id="mypageLink">
				<div class="user-info-profile">
					<i class="fas fa-user-circle fa-3x mb-2"></i>
					<div class="fw-bold" id="userName"></div>
				</div>
			</a>
			<div class="small text-muted" id="userStats"></div>
			<a class="text-decoration-none text-dark logout-btn" id="logoutLink">로그아웃</a>
		</div>
	</div>

	<hr>
	<div class="menu-section">게시판</div>
	<div class="menu-item"><a href="/board/list/all" class="text-decoration-none text-dark"><i
				class="fas fa-folder"></i> 전체글보기</a></div>
	<div class="menu-item"><a href="/board/list/free" class="text-decoration-none text-dark"><i
				class="fas fa-folder"></i> 자유</a></div>
	<div class="menu-item"><a href="/board/list/study" class="text-decoration-none text-dark"><i
				class="fas fa-folder"></i> 학습</a></div>
	<div class="menu-item"><a href="/board/list/qna" class="text-decoration-none text-dark"><i
				class="fas fa-folder"></i> 질문답변</a></div>
	<div class="menu-item"><a href="/board/list/share" class="text-decoration-none text-dark"><i
				class="fas fa-folder"></i> 정보공유</a></div>

	<div class="d-none" id="admin-menu">
		<hr>
		<div class="menu-section">관리자 메뉴</div>
		<div class="menu-item"><a href="/user/list/admin" class="text-decoration-none text-dark"><i
					class="fas fa-folder"></i> 회원
				관리</a>
		</div>
		<div class="menu-item"><a href="/board/list/admin" class="text-decoration-none text-dark"><i
					class="fas fa-folder"></i> 게시글
				관리</a>
		</div>
	</div>
</div>